<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col m4 s12">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m4 s12">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m4 s12">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="btn waves-effect waves-light actions">
            <%= f.submit "Sign up" %>
          </div>
        </div>
      </form>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
