<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h3 class="center">
      <%= @student.name %>
    </h3>
    <div class="container col s12 m6">
      <p>
        <strong>Edad:</strong>
        <%= @student.age %>
      </p>

      <p>
        <strong>Género:</strong>
        <%= @student.gender %>
      </p>

      <p>
        <strong>Escuela:</strong>
        <%= @student.school %>
      </p>

      <p>
        <strong>Grado:</strong>
        <%= @student.school_grade %>
      </p>

      <p>
        <strong>Nivel:</strong>
        <%= @student.school_level %>
      </p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @student.birthday %>
      </p>

      <p>
        <strong>Activo:</strong>
        <% if @student.active %>
          Si
        <% else %>
         No
        <% end%>
      </p>
    </div>
    <div class="container col s12 m6">
      <h4>
        <%= @student.tutor.relationship %>: <%= @student.tutor.name %>
      </h4>

      <p>
        <strong>Email:</strong>
        <%= @student.tutor.email %>
      </p>

      <p>
        <strong>Teléfono:</strong>
        <%= @student.tutor.phone %>
      </p>

      <p>
        <strong>Dirección:</strong>
        <%= @student.tutor.address_street %> <%= @student.tutor.address_number %>
        <%= @student.tutor.address_suburb %> <%= @student.tutor.address_zipcode %>, <%= @student.tutor.address_town %>,
        <%= @student.tutor.address_state %>
      </p>
    </div>
  </div>

  <%= link_to 'Editar', edit_student_path(@student) %> |
  <%= link_to 'Regresar', students_path %>
</div>