<%= javascript_include_tag('form_student.js') %>
<%= form_for @payment, url: student_payments_path do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12 m4" type="number">
      <%= form.label "Cantidad" %>
      <%= form.text_field :amount, id: :payment_amount %>
    </div>
    <div class="field col s12 m4">
      <%= form.label "Mes" %>
      <%= form.select :month, options_for_select(PaymentsHelper::MONTHS, @payment.month), {include_blank: "Seleccionar"}, id: :payment_month %>
    </div>
    <div class="input-field col s12 m4">
      <%= form.label "Fecha de pago" %>
      <%= form.text_field :date, id: :payment_date, class: "datepicker"%>
    </div>
  </div>
  <div class="row">
    <div class="btn waves-effect waves-light light-blue lighten-3 actions">
      <%= form.submit "Crear Pago" %>
    </div>
  </div>
<% end %>
