<p id="notice"><%= notice %></p>

<h1>Pagos de: <%= @student.name %></h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.month %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.date %></td>
        <td><%= link_to 'Show', student_payment_path(id: payment.id) %></td>
        <td><%= link_to 'Edit', edit_student_payment_path(id: payment.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_student_payment_path %>
