<!DOCTYPE html>
<html>
  <head>
    <title>KumonPaymentsSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed" style>
      <nav>
        <div class="nav-wrapper light-blue lighten-3" style="padding:20px;">
          <a href="#" class="brand-logo"><img src="/images/kumon_logo.png" alt="Kumon" height="30"/></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Estudiantes', students_path %></li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
      
  </body>
</html>
